.widgetContainer {
  margin-top: 50px;
  padding: 20px;
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.218);
  border-radius: 10px;
}

.results {
  height: 500px;
  overflow: scroll;
  margin-top: 20px;
}

.resultItem {
  border: 1px solid #e3e3e3;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
.resultItemName {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 18px;
}
.resultItemAddress {
  font-size: 14px;
  color: #666;
}
.resultIcon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
